/*___id___*/
/*
#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
*/

#clear-search-a {
    display: inline-block;
}
    #clear-search-a:hover {
        cursor: pointer;
    }
#map {
    height: 600px;
    width: 100%;
    margin-bottom: 20px;
}

#place-name {
    font-weight: bold;
}

#print-table-button,
#export-table-button,
#generate-table-button {
    display: inline-block;
}
#result-view-container {
    font-size: 12px;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 16px;
}

#search-error-text {
    display: inline-block;
    color: #D8000C;
    background-color: #FFD2D2;
    font-size: 18px;
    padding: 6px;
}
#searcherror {
    color: #D8000C;
    background-color: #FFD2D2;
    font-size: 18px;
    padding: 6px;
}

#searcherror_div {
    display: none;
}

#table-tools-div {

}

.center-container {
    position: absolute;
}

.header,
.footer{
  min-height: 480px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
  background: url("new_york_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer{
  min-height: 380px;
}
.form{
  background: rgba(0,0,0,0.5) !important;
}
.form > div{
  margin-bottom: 0;
}
.form *{
  transition: none;
}
.form select{
  border-left-color: #dedede !important;
}

.push-top{
  margin-top: 90px;
}
.addon-append input,
.addon-append .btn{
  border-radius: 0;
  font-size: 17px !important;
}
.social{
  border-top: 1px solid rgba(255,255,255,0.16);
}

/*6 sections*/
#noise-div, 
#crime-div,
#mouse-div,
#price-div,
#commute-div,
#parking-div,
#show-all-div
{
    display: none;
}

#result-view-container {
    padding-left: 0px;
    padding-right: 0px;
}

/*section hover effects*/
.section-container:hover .section-background-image {
  opacity: 0.5;
}

.section-container:hover .section-hidden {
  opacity: 1;
}

.section-hidden {
  /*transition: .5s ease;*/
  opacity: 0; /*hidden by default*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.section-hidden-text {
  background-color: #2196F3;
  color: white;
  font-size: 16px;
  padding: 10px;
}

    .section-hidden-text:hover {
        cursor: pointer;
    }

.table-button {
    display: inline-block;
}

/*___colors___*/

.light-silver{
  background: #e8e8e8;
}

.theme-blue {
    color: #2196F3;
}

.background-blue{
  background: #2196F3;
}

.rgba{
  background: rgba(0,0,0,0.7);
  min-height: 380px;
}

@media (max-width: 800px){
  .navbar{
    background: #2196F3;
  }
}
